body{
    background-color: lightblue;
}


#todoForm{
    margin-left: 20px;
}

#title{
    margin-left: 20px;
}

/* Completed Todo */
[done]{
    color: green;
    text-decoration: line-through;
}

#deleteList{
    list-style-type: square;
}

/* Deleted Todo */
.deleted_todo{
    display: none;
}

.show_todo{
    display: inline;
}

.todo-item{
    display: flex;
    column-gap: 20px;
    
    list-style-type: none;
    margin-top: 20px;
    background: lightgrey;
    padding: 20px;
}

.priotize{
    width: 20px;
}

.color {
    fill: blue;
  }
  
  
  
  

